<footer class="page-footer">
  <div class="container">
    <div class="links">
      <a routerLink="/">About me</a><a routerLink="/hireme">Contact me</a><a routerLink="/projects">Projects</a>
    </div>
    <div class="social-icons">
      <a onclick=" window.open('https://www.facebook.com/','_blank')"><i class="icon ion-social-facebook"></i></a
      ><a onclick=" window.open('https://www.instagram.com/','_blank')" ><i class="icon ion-social-instagram-outline"></i></a
      ><a onclick=" window.open('https://twitter.com/?lang=en','_blank')"><i class="icon ion-social-twitter"></i></a>
    </div>
  </div>
</footer>
