<ng-template #confirmationModal let-c="close" let-d="dismiss">
  <div class="modal-header {{ modalStyle }}">
    <h5 class="modal-title" id="modal-title">
      {{ modalTitle }}
    </h5>

    <span (click)="d('Cross click')" style="cursor: pointer" aria-hidden="true">&times;</span>
  </div>
  <div class="modal-body">
    <p>
      {{text}} {{ modalBody }}
    </p>
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="d('ati apasat butonul cruce')">
      Cancel
    </button>
    <button type="button" class="btn {{ modalButtonColor }}"  (click)="c('ati apasat butonul ok')">
      Ok
    </button>
  </div>
</ng-template>

<!--    -->
