textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 2px solid red;
}
#warning {
  color: red;
}
.warning {
  color: red;
}
.adauga-hobby {
  width: 150px;
  margin-bottom: 10px;
}
::ng-deep ngb-modal-backdrop {
  z-index: 600 !important;
}
