<main class="page hire-me-page">
  <section class="portfolio-block hire-me">
    <div class="alert alert-danger container" *ngIf="error"
      style="display: flex; align-items: center; justify-content: center; max-width: 55vw; margin-top: 15vw;">
      <h4>Logheaza-te ca sa trimiti un mesaj !!!</h4>
      <!-- <p>{{error.message}}</p>
                    <p>{{error.error.error}}</p> -->
      <button class="btn btn-danger" type="button" style="margin-left: 10px" (click)="inchideEroarea()">
        Ok
      </button>
    </div>
    <div class="container" *ngIf="!error">
      <div class="heading">
        <h2>Contact</h2>
      </div>
      <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="form-group">
            <label for="subject">Subject</label><select class="form-control" id="subject" formControlName="subiect">
              <option value="">Choose Subject</option>
              <option value="1">Subject 1</option>
              <option value="2">Subject 2</option>
              <option value="3">Subject 3</option>
            </select>
            <span id="warning" *ngIf="
                !dateForm.get('subiect')?.valid &&
                dateForm.get('subiect')?.touched
              " class="help-block">Va rog selectati un subiect !</span>
          </div>
          <div class="form-group">
            <label for="email">Email</label><input class="form-control" type="email" id="email"
              formControlName="email" />
            <span id="warning" *ngIf="
                !dateForm.get('email')?.valid && dateForm.get('email')?.touched
              " class="help-block">Va rog introduceti un email corect !</span>
          </div>
          <div class="form-group">
            <label for="name">Nume</label><input class="form-control" type="text" id="nume" formControlName="nume" />
            <span id="warning" *ngIf="
                !dateForm.get('nume')?.valid && dateForm.get('nume')?.touched
              " class="help-block">
              <span class="warning" *ngIf="dateForm.get('nume').errors['numele-este-interzis']">Numele acesta este
                invalid</span>
              <span class="warning" *ngIf="dateForm.get('nume').errors['required']">Va rog introduceti un nume !</span>
            </span>
          </div>
          <div class="form-group">
            <label for="name">Amount</label><input class="form-control" type="text" id="amount"
              formControlName="amount" />
            <span id="warning" *ngIf="
                !dateForm.get('nume')?.valid && dateForm.get('nume')?.touched
              " class="help-block">
              <span class="warning" *ngIf="dateForm.get('nume').errors['numele-este-interzis']">Numarul introdus este
                invalid !</span>
              <span class="warning" *ngIf="dateForm.get('nume').errors['required']">Va rog introduceti un numar !</span>
            </span>
          </div>
          <div class="form-group">
            <div class="radio" *ngFor="let item of sex">
              <label>
                <input type="radio" formControlName="sex" [value]="item" />
                {{ item }}
              </label>
            </div>
            <span id="warning" *ngIf="
                !dateForm.get('sex')?.valid && dateForm.get('sex')?.touched
              " class="help-block">Va rog alegeti sexul !</span>
          </div>
          <div class="form-group">
            <label for="message">Message</label><textarea placeholder="Intoduce mesajul" class="form-control"
              id="message" formControlName="mesaj"></textarea>
            <span id="warning" *ngIf="
                !dateForm.get('mesaj')?.valid && dateForm.get('mesaj')?.touched
              " class="help-block">Va rog introduceti un mesaj !</span>
          </div>
          <div class="form-group" formArrayName="hobbyes">
            <h6>Your hobbyes</h6>
            <button class="btn btn-primary btn-block adauga-hobby1" type="button" (click)="onAddHobby()">
              Adauga Hobby
            </button>
            <div class="form-group" *ngFor="let item of arrayHobyes.controls; let i = index">
              <input type="text" class="form-control" [formControlName]="i" placeholder="scrie hobiul tau !" />
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="hire-date">Date</label><input class="form-control" id="hire-date" type="date"
                  formControlName="data" />
                <span id="warning" *ngIf="
                    !dateForm.get('data')?.valid &&
                    dateForm.get('data')?.touched
                  " class="help-block">Va rog alegeti o data !</span>
              </div>
              <div class="col-md-6 button flex">
                <button class="btn btn-primary btn-block adauga-hobby" type="submit">
                  <!-- [disabled]="!dateForm.valid" -->
                  Hire Me
                </button>
                <button class="btn btn-danger btn-block adauga-hobby" type="button" style="margin-left: 10px"
                  (click)="onCancel()">
                  Cancel
                </button>
              </div>
              <span id="warning" *ngIf="!dateForm.valid && dateForm.touched" class="help-block">Aveti campuri
                necompletate/neselectate !</span>
            </div>
          </div>
        </div>
      </form>
      <confirmation-modal #confirmationModal [modalStyle]="modalStyle" [modalTitle]="'Datele trimise'"
        [modalButtonColor]="modalButtonColor" (resetareEvent)="resetare()">
        <!-- | uppercase  -- folosim pipes -->
        <div>
          <p>Subiect: {{ this.dateForm.get("subiect").value | uppercase }}</p>
          <p>Email: {{ this.dateForm.get("email").value | uppercase }}</p>
          <p>Nume: {{ this.dateForm.get("nume").value | uppercase }}</p>
          <p>Amount: {{ this.dateForm.get("amount").value | uppercase }}</p>
          <p>Sex: {{ this.dateForm.get("sex").value | uppercase }}</p>
          <p>Mesaj: {{ this.dateForm.get("mesaj").value | uppercase }}</p>
          <p>
            Data:
            {{
            this.dateForm.get("data").value | date : "fullDate" | uppercase
            }}
          </p>
        </div>
      </confirmation-modal>
      <!-- varianta de form cu template, si autodetection form cu angular - ngModel form -->
      <!-- #dateleUserului="ngModelGroup" - obtinem acces la obiectul creeat dateleUserului, sa afisam mai jos daca tot grupul este valid -->
      <!-- <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          class="form-group"
          ngModelGroup="dateleUserului"
          #dateleUserului="ngModelGroup"
        >
          <div class="form-group">
            <label for="subject">Subject</label
            ><select
              class="form-control"
              id="subject"
              ngModel
              name="selectia"
              required
            >
              <option value="" selected="1">Choose Subject</option>
              <option value="1">Subject 1</option>
              <option value="2">Subject 2</option>
              <option value="3">Subject 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email">Email</label
            ><input
              class="form-control"
              type="email"
              id="email"
              ngModel
              name="email"
              required
              placeholder="Emailul tau"
            />
          </div>
          <div class="form-group">
            <div class="radio" *ngFor="let item of sex">
              <label>
                <input
                  type="radio"
                  name="sexul"
                  ngModel
                  [value]="item"
                  required
                />{{ item }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="message">Message</label
            ><textarea
              placeholder="Intoduce mesajul"
              class="form-control"
              id="message"
              ngModel
              name="mesaj"
              required
              #tex="ngModel"
            ></textarea
            ><span class="help-block" *ngIf="!tex.valid && tex.touched">
              Va rog introduceti mesajul !</span
            >
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="hire-date">Date</label
                ><input
                  class="form-control"
                  id="hire-date"
                  type="date"
                  name="data"
                  ngModel
                  required
                />
              </div>
              <div class="col-md-6 button">
                <button
                  class="btn btn-primary btn-block"
                  type="submit"
                  [disabled]="!f.valid"
                >
                  Hire Me
                </button>
              </div>
            </div>
          </div>
        </div>
        <p id="warning" *ngIf="!dateleUserului.valid && dateleUserului.touched">
          Datele introduse nu sunt complete !!
        </p>
      </form>
      <confirmation-modal
        #confirmationModal
        [modalStyle]="modalStyle"
        [modalTitle]="'Datele trimise'"
        [modalButtonColor]="modalButtonColor"
      >
        <div>
          <p>Subiect: {{ user.subiect }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Sex: {{ user.sex }}</p>
          <p>Mesaj: {{ user.mesaj }}</p>
          <p>Data: {{ user.data }}</p>
        </div>
      </confirmation-modal> -->
    </div>
  </section>
</main>
