<div class="col-xs-12 col-md-6 col-md-offset-3"
  style="display: flex; align-items: center; justify-content: center; margin-top: 90px ;">
  <p *ngIf="loadedPosts.length < 1 && !isFetching ">Nu sunt mesaje</p>
  <!--  -->
  <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
    <li class="list-group-item" *ngFor="let item of loadedPosts ">
      <h1>Info despre: {{item.subiect}}</h1>
      <p>Numele tau: {{item.name}}</p>
      <p>Salar: {{item.amount}}</p>
      <p>Emailul tau: {{item.email}}</p>
      <p>Gender: {{item.sex}}</p>
      <p>Data inscrierii: {{item.data}}</p>
      <p>Hobiurile tale: {{item.hobbyes}}</p>
      <button class="btn btn-danger" type="button" style="margin-left: 10px;" (click)="onDelete(item.id)">
        Sterge
      </button>
    </li>
  </ul>
  <div *ngIf="isFetching && !error" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="error">
    <h1>A aparut o eroare</h1>
    <p>{{error.message}}</p>
    <p>{{error.error.error}}</p>
    <button class="btn btn-danger" type="button" style="margin-left: 10px;" (click)="inchideEroarea()">
      Ok
    </button>
  </div>
</div>
